services:
  postgres:
    image: postgis/postgis:17-3.5
    environment:
      POSTGRES_USER: omniroute
      POSTGRES_PASSWORD: omnipass
      POSTGRES_DB: omniroute
    ports:
      - "5432:5432"
    volumes:
      - omniroute-pg-data:/var/lib/postgresql/data

  redis:
    image: redis:7.4-alpine
    ports:
      - "6379:6379"
    volumes:
      - omniroute-redis-data:/data

  zookeeper:
    image: confluentinc/cp-zookeeper:7.7.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.7.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

volumes:
  omniroute-pg-data:
  omniroute-redis-data:
